.toolbar {
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 75px;
  box-shadow: -1px 10px 17px -11px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.toolbar_navigation {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar_logo {
  margin-left: 1rem;
  overflow: hidden;
}

.toolbar_logo a {
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
}

.toolbar_logo a div {
  width: 13.4rem;
  height: 100%;
  overflow: hidden;
  padding: 1.5rem;
}
.toolbar_navigation-items a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items ul li {
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.toolbar_navigation-items ul li.schedule-appointment {
  /* background-color: rgb(96, 218, 255); */
  background-color: rgb(255, 172, 17);
  /* background-color: #ffa500; */
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: rgb(14, 143, 0);
  text-decoration: none;
}

@media (max-width: 760px) {
  .toolbar_navigation-items {
    display: none;
  }
  .toolbar_logo a div {
    height: 6.5rem;
  }
  .toolbar_logo a div img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .toolbar_toggle-button {
    display: none;
  }
  .toolbar_logo {
    margin-left: 0;
  }
}
@media (max-width: 760px) {
  .toolbar_navigation {
    width: 100%;
  }
  .toolbar_logo {
    /* margin-left: 1rem; */
    position: relative;
    left: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
